{% extends 'park/base.html' %}

{% block content %}

<style>
  body {
    position: relative;
  }
  .sticky-offset {
    top: 30px;
  }
  #mapid {
    height: 500px;
  }
  .center-cropped {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 286px;
  }
  .place-card {
    padding: 20px 20px 20px 20px;
  }
</style>

<script>
  $(document).ready(function() {
    // Set up scrollspy
    $('body').attr('data-spy', 'scroll');
    $('body').attr('data-target', '#list-example');
    $('body').scrollspy({ target: '#list-example' });

    document.getElementById("website-title").innerHTML = "{{ overview.0.fullName }}";

  });
</script>

{% include 'park/detail-components/map.html' %}

<h1 class="text-center mb-5"> {{ overview.0.fullName }} </h1> <!-- Name of park -->

<!-- Holds our scroll spy container -->
<div class="container mb-3">
  <div class="row">

    <!-- Holds a sticky category list  -->
    <div class="col-3">
      <div id="list-example" class="list-group sticky-top sticky-offset">
        <a class="list-group-item list-group-item-action list-group-item-success" href="#list-item-1">Overview</a>
        <a class="list-group-item list-group-item-action list-group-item-success" href="#list-item-2">Alerts</a>
        <a class="list-group-item list-group-item-action list-group-item-success" href="#list-item-3">Articles, News, Events</a>
        <a class="list-group-item list-group-item-action list-group-item-success" href="#list-item-4">Places, Visitor Centers, Campgrounds</a>
        <a class="list-group-item list-group-item-action list-group-item-success" href="#list-item-5">Educational Information</a>
        <br /><br />
        <a href="#main-nav-bar" class="btn btn-outline-success">Back to Top</a>
      </div>
    </div>

    <!-- Holds our section data -->
    <div class="col-9">
      <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">

        <h3 class="border-bottom text-center" id="list-item-1">Overview</h3>
        {% include 'park/detail-components/overview.html' %}
        <h3 class="border-bottom text-center" id="list-item-2">Alerts</h3>
        {% include 'park/detail-components/alerts.html' %}
        <h3 class="border-bottom text-center" id="list-item-3">Articles, News, Events</h3>
        {% include 'park/detail-components/articles.html' %}
        {% include 'park/detail-components/news.html' %}
        {% include 'park/detail-components/events.html' %}
        <h3 class="border-bottom text-center" id="list-item-4">Places, Visitor Centers, Campgrounds</h3>
        {% include 'park/detail-components/places.html' %}
        {% include 'park/detail-components/visitor-centers.html' %}
        {% include 'park/detail-components/campgrounds.html' %}
        <h3 id="list-item-5" class="border-bottom text-center">Educational Information</h3>
        {% include 'park/detail-components/educational-info.html' %}

        </div>
      </div>
    <!-- 2 extra divs to ensure structure integrity is maintained due to our last article producing 2 more divs -->
  </div>
</div>



{% endblock%}
