{% extends 'park/base.html' %}

{% block content %}

<style>
  body {
    position: relative;
  }
  .sticky-offset {
    top: 30px;
  }
  #mapid {
    height: 500px;
  }
  .center-cropped {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 286px;
  }
  .place-card {
    padding: 20px 20px 20px 20px;
  }
</style>

<script>
  $(document).ready(function() {
    // $('#main-nav-bar').hide();
    $('body').attr('data-spy', 'scroll');
    $('body').attr('data-target', '#list-example');
    $('body').scrollspy({ target: '#list-example' });
  });
</script>

<div class="container-fluid mt-3 mb-5">
  <div class="accordion" id="map-view-accordion">
    <div class="card rounded border shadow-sm">
      <div id="map-view-card">
        <h2 class="mb-0">
          <a id="map-view-button" class="btn btn-secondary btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
            <label style="font-size: 24px; font-weight: bold;">Hide/Show Map View</label>
          </a>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="map-view-card" data-parent="#map-view-accordion">
        <div class="card-body">
          <div id="mapid">
            <!-- This holds a map view from JS script -->
            <label id="no-map" hidden>No current map coordinates available for this location.</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  /*
  Note: This script needs to be placed after #mapid
  From leafletjs
  */
  var lat = "{{ lat }}";
  var long = "{{ long }}";
  console.log(lat);
  console.log(long);
  // create map
  if (lat != "" && long != "") {
    console.log("Creating a map!");
    var mymap = L.map('mapid').setView([lat, long], 13);
    // render map layer
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: '{{ access_token }}'
    }).addTo(mymap);
    // add marker
    var marker = L.marker([lat, long]).addTo(mymap);
    marker.bindPopup("<strong>{{ full_name }}</strong>").openPopup();
  } else {
    var noMap = document.getElementById('no-map');
    noMap.hidden = false;
    $('#map-view-button').attr('aria-expanded', 'false');
    $('#collapseOne').removeClass('show');
  }
</script>

<h1 class="text-center mb-5"> {{ overview.0.fullName }} </h1>

<!-- Holds our scroll spy container -->
<div class="container mb-3">
  <div class="row">

    <!-- Holds our categories -->
    <div class="col-3">
      <div id="list-example" class="list-group sticky-top sticky-offset">
        <a class="list-group-item list-group-item-action list-group-item-success" href="#list-item-1">Overview</a>
        <a class="list-group-item list-group-item-action list-group-item-success" href="#list-item-2">Alerts</a>
        <a class="list-group-item list-group-item-action list-group-item-success" href="#list-item-3">Articles, News, Events</a>
        <a class="list-group-item list-group-item-action list-group-item-success" href="#list-item-4">Places, Visitor Centers, Campgrounds</a>
        <a class="list-group-item list-group-item-action list-group-item-success" href="#list-item-5">Educational Information</a>
      </div>
    </div>

    <!-- Holds our section data -->
    <div class="col-9">
      <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
        <h4 class="border-bottom" id="list-item-1">Overview</h4>

        <div><strong>Description: </strong></div>
        <div> {{ overview.0.description }} </div>
        <br />

        <div><strong>Directions: </strong></div>
        <div>{{ overview.0.directionsInfo }}</div>
        <br />

        <div><strong>Fees:</strong></div>
        <div class="container">
          <div class="row">
            {% for entrance_fee in overview.0.entranceFees%}
            <div class="col-4">
              <div>{{ entrance_fee.title }}</div>
              <div>Cost: ${{ entrance_fee.cost|slice:4 }}</div>
            </div>
            <br />
            {% endfor %}
          </div>
        </div>
        <br />

        <div><strong>Operating hours: </strong></div>
        {% for operating_hours in overview.0.operatingHours %}
        <div>{{ operating_hours.description }}</div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Day</th>
              <th scope="col">Hours</th>
            </tr>
            <tbody>
              <tr>
                <td>Sunday</td>
                <td>{{ operating_hours.standardHours.sunday}}</td>
              </tr>

              <tr>
                <td>Monday</td>
                <td>{{ operating_hours.standardHours.monday}}</td>
              </tr>

              <tr>
                <td>Tuesday</td>
                <td>{{ operating_hours.standardHours.tuesday}}</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>{{ operating_hours.standardHours.wednesday}}</td>
              </tr>

              <tr>
                <td>Thursday</td>
                <td>{{ operating_hours.standardHours.thursday}}</td>
              </tr>

              <tr>
                <td>Friday</td>
                <td>{{ operating_hours.standardHours.friday}}</td>
              </tr>

              <tr>
                <td>Saturday</td>
                <td>{{ operating_hours.standardHours.saturday}}</td>
              </tr>
            </tbody>
          </thead>
        </table>
        {% endfor %}

        <h4 class="border-bottom" id="list-item-2">Alerts</h4>
        <!-- Populate alerts -->
        {% if alerts_total == "0" %}
        <div>No current alerts for this location</div>
        <br />
        {% else %}
        <!-- If we have alerts-->
        {% for alert in alerts %}
        <div>
          <div> {{ alert.category }} </div>
          <div> {{ alert.title }} </div>
          <div> {{ alert.description }} </div>
          <div> {{ alert.url }} </div>
        </div>
        <br />
        {% endfor %}
        {% endif %}

        <h4 class="border-bottom" id="list-item-3">Articles, News, Events</h4>
        <!-- Populate articles -->
        {% if articles_total == "0" %}
        <div>No current articles for this location</div>
        <br />
        {% else %}
        <!-- If we have articles -->
        <div class="container">
          <div class="row">
            {% for article in articles %}

            <!-- Create card decks for every 2 iterations -->
            {% if forloop.counter0|divisibleby:"2" == True %}
            <div class="col-12 pb-4">
              <div class="card-deck" id="card-deck__{{forloop.counter0}}">
                {% endif %}

                <div class="card">

                  {% if article.listingimage.url == "" %}
                  <img class="card-img-top center-cropped bg-dark" src=http://www.sclance.com/pngs/image-placeholder-png/image_placeholder_png_698412.png />
                  {% else %}
                  <img class="card-img-top center-cropped bg-dark" src="{{ article.listingimage.url }}" alt="article image" />
                  {% endif %}

                  <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.listingdescription }}</p>
                  </div>
                  <div class="card-footer">
                    <a href="{{ article.url }}" class="btn btn-primary">Article link</a>
                  </div>
                </div>

                {% if forloop.counter0|divisibleby:"2" == False %}
              </div>
            </div>
            {% endif %}

            <!-- Edge case: Ensure we have enough closing divs and that the last article only takes up col-6 space -->
            {% if forloop.last and forloop.counter0|divisibleby:"2" == True %}
          </div>
        </div>

        <script>
          var lastArticleCardDeck = document.getElementById("card-deck__{{forloop.counter0}}");
          lastArticleCardDeck.classList.remove("card-deck");
          lastArticleCardDeck.parentElement.classList.replace("col-12", "col-6");
        </script>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Populate news -->
    {% if news_total == "0" %}
    <div>No current news for this location</div>
    <br />
    {% else %}
    {% for news_release in news_releases %}

    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">
          <span class="badge badge-secondary">News Release</span>
          {{ news_release.title }}
        </h5>
        <h6 id="news-pub-date__{{forloop.counter0}}" class="card-subtitle mb-2 text-muted">
          <script>
            // script to format date published
            var datePub = "{{ news_release.releasedate }}";
            var date = new Date(datePub);
            var formattedDate = date.toString().substring(4,15);
            // console.log(formattedDate);
            document.getElementById("news-pub-date__{{forloop.counter0}}").innerHTML = "Date published: " + formattedDate;
          </script>
        </h6>
        <p class="card-text">{{ news_release.abstract }}</p>
        <a href="{{ news_release.url }}" class="card-link">Learn more</a>
      </div>
    </div>
    <br/>
    {% endfor %}
    {% endif %}

    <!-- Populate events -->
    {% if events_total == "0" %}
    <div>No current events for this location</div>
    <br />
    {% else %}
    {% for event in events %}
    <div class="card">
      <div class="card-header">
        <strong>Event: </strong>{{ event.title }}
      </div>

      <div class="container">
        <div class="row">
          <div class="col-8">
            <!-- Event Description Column -->
            <div class="card-body">
              <p class="card-text">
                <!-- Api endpoint for events returns some html in a string
                We need to parse this string into HTML code using the safe filter -->
                {{ event.description|safe }}
              </p>
            </div>
          </div>

          <div class="col-4 pl-0 pr-0 bg-dark">
            <!-- Image Column -->
            {% if not event.images.0.url %} <!-- If we have 0 images -->
            <img src="http://www.sclance.com/pngs/image-placeholder-png/image_placeholder_png_698412.png" class="img-fluid pt-5 pb-5" width="100%"/>
            {% else %}
            <img src="https://www.nps.gov{{ event.images.0.url }}" class="img-fluid pt-5 pb-5" width="100%"/>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="card-footer text-muted">
        {% for type in event.types %}
        <span class="badge badge-success">{{ type }}</span>
        {% endfor %}
      </div>
    </div>
    <br />
    {% endfor %}
    {% endif%}




    <h4 class="border-bottom" id="list-item-4">Places, Visitor Centers, Campgrounds</h4>
    <!-- Populate places -->
    {% if places_total == "0" %}
    <div>No current places for this location</div>
    <br />
    {% else %}
    {% for place in places %}
    <div class="container bg-light rounded border place-card">
      <div class="row">
        <!-- Column to hold place image -->
        <div class="col-4">
          <img src="{{ place.listingimage.url }}" width="100%" class="img-fluid"/>
        </div>

        <!-- Column to hold place description -->
        <div class="col-8">
          <h5>{{ place.title }}</h5>
          <div> {{ place.listingdescription }}</div>
          <a href="{{ place.url }}" class="card-link">Learn more</a>
          <span class="badge badge-secondary float-right">Place</span>
        </div>
      </div>
    </div>
    <br />
    {% endfor %}
    {% endif %}

    <!-- Populate visitor centers -->
    {% if visitor_centers_total == "0" %}
    <div>No current visitor centers for this location</div>
    <br />
    {% else %}
    {% for visitor_center in visitor_centers %}

    <div class="container bg-light rounded border place-card">
      <div class="row">
        <div class="col-12">
          <h5> {{ visitor_center.name }} </h5>
          <div> {{ visitor_center.description }}</div>
          <span class="badge badge-secondary float-right">Visitor center</span>
        </div>
      </div>
    </div>
    <br />
    {% endfor %}
    {% endif %}

    <!-- Populate campgrounds -->
    {% if campgrounds_total == "0" %}
    <div>No current campgrounds for this location</div>
    <br />
    {% else%}
    {% for campground in campgrounds %}


    <div class="container bg-light rounded border place-card">
      <div class="row">
        <div class="col-12">
          <h5> {{ campground.name }} </h5>
          <div> {{ campground.description }}</div>
          <span class="badge badge-secondary float-right">Campground</span>
        </div>
      </div>
    </div>
    <br />
    {% endfor %}
    {% endif %}

    <h4 id="list-item-5" class="border-bottom">Educational Information</h4>
    <!-- Populate Educational Information -->
    {% if lesson_plans_total == "0" %}
    <div>No current lesson plans for this location</div>
    {% else %}
    {% for lesson_plan in lesson_plans %}
    <div class="container bg-light rounded border place-card">
      <div class="row">
        <div class="col-12">
          <h4> {{ lesson_plan.title }} </h4>
          <h6 class="text-dark text-uppercase font-italic"> {{ lesson_plan.subject }} </h6>
          <div class="text-dark text-uppercase font-italic">
            <h6> {{ lesson_plan.gradeLevel }} </h6>
          </div>
          <div> {{ lesson_plan.questionobjective }} </div>
          <span class="badge badge-info float-left">Lesson Plans</span>
        </div>
      </div>
    </div>
    <br>
    {% endfor %}
    {% endif %}

    <!-- Populate People -->
    {% if people_total == "0" %}
    <div>No current facts on people for this location</div>
    {% else %}
    {% for someone in people %}
    <div class="container bg-light rounded border place-card">
      <div class="row">
        <div class="col-12">
          <h5> {{ someone.title }} </h5>
          <div> {{ someone.listingdescription }}</div>
          <span class="badge badge-info float-left">People</span>
        </div>
      </div>
    </div>
    <br />
    {% endfor %}
    {% endif %}

  </div>
</div>
</div>
</div>

{% endblock %}
